* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}


.back-button {
  background-color: #00acee;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 6vw;
  margin-top: 10px;
}


.back-button a {
  text-decoration: none;
  display: flex;
  text-decoration: none;
  list-style: none;
}

.back-button a span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  
  
}

/* .MuiSvgIcon-root {
  margin-right: 10px;
} */


.error-message {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
}


@media screen and (min-width: 769px) and (max-device-width: 991px) {
  .back-button{
    margin-top: 20px;
    width: 8vw;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
  .back-button{
    margin-top: 20px;
    width: 12vw;
  }
}

@media only screen and (max-device-width: 480px) {
  .back-button{
    margin-top: 15px;
    width: 20vw;
  }
}